<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}quiz{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<body>
{% block content %}
    <h1>Hello, world!</h1>
{% endblock %}
</body>
</html>