{% extends 'base.html' %}
{% block title %}
    {{ quiz.name }}
{% endblock %}
{% block content %}
    <div class="ui center aligned container">
        <h1 class="ui header">{{ quiz.name }}</h1>
        <form action="{% url 'quiz_result' quiz.pk %}" method="post">
            {% csrf_token %}
            {% for question in quiz.questions.all %}
                <div class="ui question tab segment"
                     data-tab="{{ forloop.counter }}">
                    <h2>{{ question.text }}</h2>
                    <div class="ui divider"></div>
                    <div class="ui massive form">
                        <div class="grouped {{ forloop.counter }} fields">
                            {% for answer in question.shuffled_answers %}
                                <div class="field">
                                    <div class="ui massive radio checkbox">
                                        <input id="{{ answer.pk }}" name="{{ question.pk }}" value="{{ answer.pk }}"
                                               tabindex="0"
                                               type="radio">
                                        <label for="{{ answer.pk }}">{{ answer.text }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if forloop.last %}
                        <button class="ui huge primary {{ question.pk }} button"
                                tabindex="1">Submit<i class="right arrow icon"></i></button>
                    {% else %}
                        <a class="ui huge primary next button" tabindex="1"
                           onclick="nextTab()">Next<i class="right arrow icon"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
        <div id="pagenumber"></div>
    </div>
    <script>
        var tab = 0;
        var tabs = {{ quiz.questions.count }}
            $('.ui.radio.checkbox')
                .checkbox()
        ;
        $
            .tab()
        ;

        function nextTab() {
            if (++tab > tabs) {
                $('form').submit();
            }
            else {
                $.tab('change tab', tab);
                $('.fields.' + tab + ' input').focus();
                $('#pagenumber').html(tab + ' of ' + tabs)
            }
        }

        $('input').keypress(function (e) {
            if (e.which === 13) {
                nextTab();
                e.preventDefault()
            }
        });
        nextTab();
    </script>
{% endblock %}
{% block head %}
    <style>
        .ui.checkbox.massive {
            font-size: 1.2em;
        }
    </style>
{% endblock %}