{% extends 'base.html' %}
{% block content %}
    <div class="ui stackable padded grid">
        <div class="three wide column">
            <form class="ui filter form" action="" method="get">
                <div class="field">
                    <label for="include" class="text">Include tags</label>
                    <select id="include" name="include" class="ui fluid search dropdown" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="exclude" class="text">Exclude tags</label>
                    <select id="exclude" name="exclude" class="ui fluid search dropdown" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <button class="ui fluid button"><i class="filter icon"></i>Filter</button>
                </div>
            </form>
            <div class="ui divider"></div>
            <div class="field">
                <button id="select-all" class="ui fluid button">Select all</button>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="thirteen wide column">
            <form id="questions" name="questions" action="{% url 'create_quiz' %}" method="post">
                {% csrf_token %}
                <div class="ui form">
                    <div class="field">
                        <label for="name">Name</label>
                        <div class="ui action input">
                            <input id="name" name="name" placeholder="Name" type="text" required>
                            <button class="ui button" type="submit" form="questions">Start</button>
                        </div>
                    </div>
                </div>

                <table class="ui compact celled definition selectable table" style="table-layout: fixed">
                    <thead class="full-width">
                    <tr>
                        <th style="width: calc(17px + 1.4em)"></th>
                        <th style="width: 70%">Question</th>
                        <th style="width: 30%">Tags</th>
                        <th style="width: 5em">Total</th>
                        <th style="width: 5em">Wrong</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td class="collapsing">
                                <div class="ui fitted checkbox">
                                    <input title="{{ question.pk }}" name="questions"
                                           value="{{ question.pk }}" type="checkbox"> <label></label>
                                </div>
                            </td>
                            <td>{{ question }}</td>
                            <td>{{ question.tags.all|join:", " }}</td>
                            <td class="right aligned">{{ question.get_answer_count }}</td>
                            <td class="right aligned">{{ question.get_wrong_answer_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#select-all')
                .on('click', function () {
                    $('.checkbox').checkbox('check');
                })
            ;

            $('form.filter .ui.dropdown')
                .dropdown({})
            ;

            $('form.filter .clear.button')
                .on('click', function () {
                    $('form.filter .ui.dropdown')
                        .dropdown('clear')
                    ;
                })
            ;

            $('.selectable tbody > tr')
                .on('click', function (event) {
                    console.log(event.target);
                    if (!$(event.target).is(':checkbox,label')) {
                        $(this).find('.checkbox').checkbox('toggle');
                    }
                })
            ;
        })
    </script>
{% endblock %}
