{% extends 'base.html' %}
{% block content %}
    <div class="ui stackable padded grid">
        <div class="three wide column">
            <form class="ui filter form" action="" method="get">
                <div class="field">
                    <label for="include" class="text">Include tags</label>
                    <select id="include" name="include" class="ui fluid search dropdown" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="exclude" class="text">Exclude tags</label>
                    <select id="exclude" name="exclude" class="ui fluid search dropdown" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <button class="ui fluid button"><i class="filter icon"></i>Filter</button>
                </div>
            </form>
            <div class="ui divider"></div>
            <div class="ui fluid left labeled input">
                <a id="select-button" class="ui label">Select random</a>
                <input title="select-amount" id="select-amount" value="15" type="number">
            </div>
            <div class="field">
                <button id="select-all" class="ui fluid button">Select all</button>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="thirteen wide column">
            <form id="questions" name="questions" action="{% url 'create_quiz' %}" method="post">
                {% csrf_token %}
                <div class="ui form">
                    <div class="required field">
                        <label for="name">Name of new quiz</label>
                        <div class="ui action input">
                            <input id="name" name="name" placeholder="Name of new quiz" type="text" required>
                            <button class="ui button" type="submit" form="questions">Create and start Quiz</button>
                        </div>
                    </div>
                </div>

                <table class="ui compact celled definition selectable table" style="table-layout: fixed">
                    <thead class="full-width">
                    <tr>
                        <th style="width: calc(17px + 1.4em)"></th>
                        <th style="width: 70%">Question</th>
                        <th style="width: 30%">Tags</th>
                        <th style="width: 5em">Total</th>
                        <th style="width: 5em">Wrong</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td class="collapsing">
                                <div class="ui fitted checkbox">
                                    <input title="{{ question.pk }}" name="questions"
                                           value="{{ question.pk }}" type="checkbox"> <label></label>
                                </div>
                            </td>
                            <td>{{ question }}</td>
                            <td>{{ question.tags.all|join:", " }}</td>
                            <td class="right aligned">{{ question.get_answer_count }}</td>
                            <td class="right aligned">{{ question.get_wrong_answer_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        // from https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }

        $(document).ready(function () {
            $('#select-all')
                .on('click', function () {
                    $('.checkbox').checkbox('check');
                })
            ;

            $('#select-button')
                .on('click', function () {
                    amount = $('#select-amount').val();
                    options = shuffle($('.checkbox:not(.checked)')).slice(0, amount);
                    console.log(options);
                    options.checkbox('check');
                })
            ;

            $('form.filter .ui.dropdown')
                .dropdown({})
            ;

            $('form.filter .clear.button')
                .on('click', function () {
                    $('form.filter .ui.dropdown')
                        .dropdown('clear')
                    ;
                })
            ;

            $('.selectable tbody > tr')
                .on('click', function (event) {
                    console.log(event.target);
                    if (!$(event.target).is(':checkbox,label')) {
                        $(this).find('.checkbox').checkbox('toggle');
                    }
                })
            ;
        })
    </script>
{% endblock %}
